name: maven build, re-usable
on:
  workflow_call:
    inputs:
      java-version:
        description: the java version to use
        required: false
        type: number
        default: 21
    secrets:
      webhook:
        description: 'slack webhook'
        required: false
      token:
        description: 'github token'
        required: true

env:
  TZ: Europe/Oslo

jobs:
  build:
    timeout-minutes: 60
    name: Build ${{ github.event.repository.name }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.repository.name }}-${{ github.ref }}
      cancel-in-progress: true
    permissions:
      actions: read
      issues: read
      checks: write
      contents: write
      pull-requests: write
      security-events: write
    env:
      slack_webhook: ${{ secrets.webhook }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Create settings.xml
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d #v22
        with:
          repositories: '[{ "id": "eresept-parent", "name": "github", "url": "https://maven.pkg.github.com/navikt/eresept-parent", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }, { "id": "xerces", "name": "github", "url": "https://maven.pkg.github.com/navikt/xerces-xmlschema-1.1", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }]'
          servers: '[{ "id": "eresept-parent", "username": "x-access-token", "password": "${{ secrets.token }}" }, { "id": "xerces", "username": "x-access-token", "password": "${{ secrets.token }}" }]'
          output_file: maven-settings.xml

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
        with:
          distribution: 'temurin'
          java-version: '${{ inputs.java-version }}'
          overwrite-settings: false

      - name: Cache local Maven repository
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.event.repository.name }}

      - name: Set some variables
        run: |
          echo "starttime=$(date +%s)" >> $GITHUB_ENV
          sudo timedatectl set-timezone "Europe/Oslo"
          echo "lastcommit=$(git log -1 --date=format:'%Y-%m-%d %T' --format=%cd)" >> $GITHUB_ENV

      - name: Get commit message
        run: |
          echo "commit_msg=$(git log -1 --oneline)" >> $GITHUB_ENV
          echo "commit_sha=$(git log -1 --format=%H)" >> $GITHUB_ENV

      - name: Initialize CodeQL Analysis
        uses: github/codeql-action/init@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v3.29.5
        with:
          languages: java

      - name: Compile and test
        run: mvn install --no-transfer-progress --settings maven-settings.xml

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v3.29.5
        with:
          category: "/language:java"

#      - name: Publish results (unit test)
#        uses: EnricoMi/publish-unit-test-result-action@afb2984f4d89672b2f9d9c13ae23d53779671984 #v2.19.0
#        if: success() || failure()
#        with:
#          files: "**/target/surefire-reports/TEST-*.xml"

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 #v5
        if: success() || failure()
        with:
          include_time_in_summary: 'true'
          include_passed: 'false'
          detailed_summary: 'true'
          report_paths: '**/target/surefire-reports/TEST-*.xml'

      - name: Checkout badges
        if: ${{ github.event_name != 'pull_request' }}
        uses: navikt/eresept-actions/badges-checkout@main

      - name: Create coverage badges
        if: ${{ github.event_name != 'pull_request' }}
        uses: navikt/eresept-actions/badges-jacoco@main

      - name: Last commit badge
        if: ${{ github.event_name != 'pull_request' }}
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: 'last commit'
          right: '${{ env.lastcommit }}'
          color: 'blue'
          filename: 'last-commit'
          logo: 'calendar'

      - name: Calculate execution time
        run: |
          END_TIME=$(date +%s)
          echo "exectime=$(( $END_TIME - ${starttime} ))" >> $GITHUB_ENV

      - name: Time used badge
        if: ${{ github.event_name != 'pull_request' }}
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: 'build execution time'
          right: '${{ env.exectime }}'
          color: 'blue'
          filename: 'build-exec-time'
          logo: 'stopwatch'

      - name: Commit badges
        if: ${{ github.event_name != 'pull_request' }}
        uses: navikt/eresept-actions/badges-commit@main

      - name: Summary
        run: echo "### Built **${REPO}** in ${exectime} seconds" >> $GITHUB_STEP_SUMMARY
        env:
          REPO: ${{ github.event.repository.name }}

      - name: report to slack
        if: always()
        uses: navikt/eresept-actions/slack-notify@main
        with:
          status: "${{ job.status }}"
          username: "build ${{ github.event.repository.name }}"
          icon: ":github2:"
          title-success: "Built _*${{ github.event.repository.name }}*_ in ${{ env.exectime }} seconds"
          title-failure: "Build failure in _*${{ github.event.repository.name }}*_"
          title-cancelled: "Build of _*${{ github.event.repository.name }}*_ was cancelled"
          message-success: "```${{ env.commit_msg }}```"
          message-cancelled: "```${{ env.commit_msg }}```"
          webhook: ${{ secrets.webhook }}
