name: Deploy resource, re-usable
on:
  workflow_call:
    inputs:
      version:
        description: 'The version/tag to deploy, main or a tag (include the leading v in the tag)'
        required: true
        type: string
      file:
        description: 'The resource file to deploy, without .yaml extension'
        required: true
        type: string
      vars:
        description: 'The file containing the template variables, without .yaml extension and cluster suffix'
        required: true
        type: string
      var:
        description: 'Comma-separated list of template variables in the form key=value. Will overwrite any identical template variable in the VARS file'
        required: false
        type: string
        default: ''
      icon:
        description: 'The icon to use in slack message'
        required: true
        type: string
      cluster:
        description: 'The cluster to deploy the resource to'
        required: true
        type: string
        default: dev-fss
    secrets:
      webhook:
        description: 'Slack webhook'
        required: true

jobs:
  deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    name: deploy ${{ inputs.file }} to ${{ inputs.cluster }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0
          repository: ${{ github.event.repository.full_name}}
          ref: '${{ github.ref_name }}'
          persist-credentials: true

      - name: Create variables
        shell: bash
        run: |
          lasttag=$(git describe --tags --abbrev=0)
          tag=$(if [ "${VER}" == "main" ]; then echo $lasttag; else echo ${VER} | sed 's/ //g; s/v//'; fi)
          dd="$(date '+%Y-%m-%d %H:%M:%S')"
          echo "deployver=$tag" >> $GITHUB_ENV
          echo "deploydate=$dd" >> $GITHUB_ENV
          dd2=$(echo $dd | sed 's/[ ]/T/;s/:/./g')
          if [ -z "${VAR}" ]
          then
            ev="deploydate=$dd2"
          else
            ev="${VAR},deploydate=$dd2"
          fi
          echo "extravars=$ev" >> $GITHUB_ENV
        env:
          VER: ${{ inputs.version }}
          VAR: ${{ inputs.var }}

      - name: Deploy
        uses: nais/deploy/actions/deploy@961addd1e4d4211f1a7333ada5fde85f7c9aa5b7 #v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/${{ inputs.file }}.yaml
          VARS: .nais/${{ inputs.vars }}.${{ inputs.cluster }}.yaml
          VAR: '${{ env.extravars }}'

      - name: Checkout badges
        uses: navikt/eresept-actions/badges-checkout@main

      - name: Deployed version badge
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: '${{ inputs.cluster }} version'
          right: '${{ env.deployver }}'
          color: 'blue'
          filename: '${{ inputs.cluster }}-${{ inputs.file }}-version'
          logo: 'tag'

      - name: Deployed date badge
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: '${{ inputs.cluster }} date'
          right: '${{ env.deploydate }}'
          color: 'blue'
          filename: '${{ inputs.cluster }}-${{ inputs.file }}-date'
          logo: 'calendar'

      - name: Commit badges
        uses: navikt/eresept-actions/badges-commit@main

      - name: report to slack
        if: always()
        uses: navikt/eresept-actions/slack-notify@main
        with:
          status: "${{ job.status }}"
          username: "eresept deploy ${{ inputs.file }}"
          icon: "${{ inputs.icon }}"
          title-success: "Deployed _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_"
          title-failure: "Deploy of _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_ failed"
          title-cancelled: "Deploy of _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_ was cancelled"
          message-success: "${{ inputs.file }}:${{ env.deployver }}"
          message-cancelled: "${{ inputs.file }}:${{ env.deployver }}"
          webhook: ${{ secrets.webhook }}
