name: Deploy resource, re-usable
on:
  workflow_call:
    inputs:
      version:
        description: 'The version/tag to deploy, main or a tag'
        required: true
        type: string
      file:
        description: 'The resource file to deploy, without .yaml extension'
        required: true
        type: string
      vars:
        description: 'The file containing the template variables, without .yaml extension and cluster suffix'
        required: true
        type: string
      var:
        description: 'Comma-separated list of template variables in the form key=value. Will overwrite any identical template variable in the VARS file'
        required: false
        type: string
        default: ''
      icon:
        description: 'The icon to use in slack message'
        required: true
        type: string
      cluster:
        description: 'The cluster to deploy the resource to'
        required: true
        type: string
        default: dev-fss
      gar:
        description: 'Use image from GAR or not'
        required: false
        type: boolean
        default: false
    secrets:
      webhook:
        description: 'Slack webhook'
        required: true

jobs:
  deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      actions: read # for private repositories
      contents: write
      id-token: write
    name: deploy ${{ inputs.file }} to ${{ inputs.cluster }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          repository: ${{ github.event.repository.full_name}}
          ref: '${{ github.ref_name }}'
          persist-credentials: true

      - name: Docker login
        if: ${{ inputs.gar }}
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf #v0
        id: login
        with:
          team: teameresept

      - name: Create variables
        shell: bash
        run: |
          lasttag=$(git describe --tags --abbrev=0)
          tag=$(if [ "${VER}" == "main" ]; then echo $lasttag; else echo ${VER} | sed 's/ //g; s/v//'; fi)
          dd="$(date '+%Y-%m-%d %H:%M:%S')"
          echo "deployver=$tag" >> $GITHUB_ENV
          echo "deploydate=$dd" >> $GITHUB_ENV
          dd2=$(echo $dd | sed 's/[ ]/T/;s/:/./g')
          if [ -z "${VAR}" ]
          then
            ev="deploydate=$dd2"
          else
            ev="${VAR},deploydate=$dd2"
          fi
          if [ "${GAR}" == "true" ]
          then
            g="${{ steps.login.outputs.registry }}/${{ github.event.repository.name }}:$tag"
          else
            g=""
          fi
          echo "extravars=$ev,image=$g" >> $GITHUB_ENV
        env:
          VER: ${{ inputs.version }}
          VAR: ${{ inputs.var }}
          GAR: ${{ inputs.gar }}

      - name: Deploy
        uses: nais/deploy/actions/deploy@33c53f5b87d0746093a7a7ab4b9fa853e0e53bdc #v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: .nais/${{ inputs.file }}.yaml
          VARS: .nais/${{ inputs.vars }}.${{ inputs.cluster }}.yaml
          VAR: '${{ env.extravars }}'

      - name: Checkout badges
        uses: navikt/eresept-actions/badges-checkout@main

      - name: Deployed version badge
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: '${{ inputs.cluster }} version'
          right: '${{ env.deployver }}'
          color: 'blue'
          filename: '${{ inputs.cluster }}-${{ inputs.file }}-version'
          logo: 'tag'

      - name: Deployed date badge
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: '${{ inputs.cluster }} date'
          right: '${{ env.deploydate }}'
          color: 'blue'
          filename: '${{ inputs.cluster }}-${{ inputs.file }}-date'
          logo: 'calendar'

      - name: Commit badges
        uses: navikt/eresept-actions/badges-commit@main

      - name: report to slack
        if: always()
        uses: navikt/eresept-actions/slack-notify@main
        with:
          status: "${{ job.status }}"
          username: "eresept deploy ${{ inputs.file }}"
          icon: "${{ inputs.icon }}"
          title-success: "Deployed _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_"
          title-failure: "Deploy of _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_ failed"
          title-cancelled: "Deploy of _*${{ inputs.file }}:${{ env.deployver }}*_ to _*${{ inputs.cluster }}*_ was cancelled"
          message-success: "${{ inputs.file }}:${{ env.deployver }}"
          message-cancelled: "${{ inputs.file }}:${{ env.deployver }}"
          webhook: ${{ secrets.webhook }}
