name: maven build, re-usable
on:
  workflow_call:
    inputs:
      java-version:
        description: the java version to use
        required: false
        type: number
        default: 21
      groups:
        description: 'groups of test to execute'
        required: false
        type: string
        default: 'slow'
    secrets:
      webhook:
        description: 'slack webhook'
        required: false
      token:
        description: 'github token'
        required: true

env:
  TZ: Europe/Oslo

jobs:
  build:
    timeout-minutes: 50
    name: Build ${{ github.event.repository.name }}
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ inputs.groups }}-${{ github.event.repository.name }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      slack_webhook: ${{ secrets.webhook }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Create settings.xml
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d #v22
        with:
          repositories: '[{ "id": "eresept-parent", "name": "github", "url": "https://maven.pkg.github.com/navikt/eresept-parent", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }, { "id": "xerces", "name": "github", "url": "https://maven.pkg.github.com/navikt/xerces-xmlschema-1.1", "releases": { "enabled": "true" }, "snapshots": { "enabled": "false" } }]'
          servers: '[{ "id": "eresept-parent", "username": "${{ github.actor }}", "password": "${{ secrets.token }}" }, { "id": "xerces", "username": "${{ github.actor }}", "password": "${{ secrets.token }}" }]'
          output_file: maven-settings.xml

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e #v5.1.0
        with:
          distribution: 'temurin'
          java-version: '${{ inputs.java-version }}'
          overwrite-settings: false

      - name: Cache local Maven repository
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.event.repository.name }}

      - name: Set some variables
        run: |
          echo "starttime=$(date +%s)" >> $GITHUB_ENV
          sudo timedatectl set-timezone "Europe/Oslo"
          echo "lastcommit=$(git log -1 --date=format:'%Y-%m-%d %T' --format=%cd)" >> $GITHUB_ENV

      - name: Get commit message
        run: |
          echo "commit_msg=$(git log -1 --oneline)" >> $GITHUB_ENV
          echo "commit_sha=$(git log -1 --format=%H)" >> $GITHUB_ENV

      - name: test
        run: mvn test -Dexcluded.groups= -Dgroups=${GROUPS} --no-transfer-progress --settings maven-settings.xml
        env:
          GROUPS: ${{ inputs.groups }}

      - name: Calculate execution time
        run: |
          END_TIME=$(date +%s)
          echo "exectime=$(( $END_TIME - ${starttime} ))" >> $GITHUB_ENV

      - name: Summary
        run: echo "### Tested tests in group ${GROUPS} **${REPO}** in ${exectime} seconds" >> $GITHUB_STEP_SUMMARY
        env:
          GROUPS: ${{ inputs.groups }}
          REPO: ${{ github.event.repository.name }}

      - name: report to slack
        if: always()
        uses: navikt/eresept-actions/slack-notify@main
        with:
          status: "${{ job.status }}"
          username: "test ${{ github.event.repository.name }}"
          icon: ":github2:"
          title-success: "Tested tests in group ${{ inputs.groups }} in _*${{ github.event.repository.name }}*_ in ${{ env.exectime }} seconds"
          title-failure: "Testing tests in group ${{ inputs.groups }} in _*${{ github.event.repository.name }}*_ failed"
          title-cancelled: "Testing tests in group ${{ inputs.groups }} of _*${{ github.event.repository.name }}*_ was cancelled"
          message-success: "${{ env.commit_msg }}"
          message-cancelled: "${{ env.commit_msg }}"
          webhook: ${{ secrets.webhook }}
