name: trivy scan, re-usable
on:
  workflow_call:
    inputs:
      skip-update:
        description: 'Skip trivy update database or not, TODO delete later'
        required: false
        type: boolean
        default: true
    secrets:
      token:
        description: 'token'
        required: true

jobs:
  trivy-scan:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      actions: read # for private repositories
      contents: write
      id-token: write
      security-events: write # push sarif to github security
    name: Security scan of latest image in ${{ github.event.repository.name }}
    if: false # temporarily skip this action
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1
        with:
          fetch-depth: 0
          repository: ${{ github.event.repository.full_name }}
          ref: '${{ github.ref_name }}'
          token: ${{ secrets.token }}
          persist-credentials: true

      - name: Start time and timezone
        run: |
          echo "starttime=$(date +%s)" >> $GITHUB_ENV
          sudo timedatectl set-timezone "Europe/Oslo"

      - name: get versions, changelog and more
        id: get-versions
        uses: navikt/eresept-actions/get-versions-and-more@main

      - name: Docker login
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf #v0
        id: login
        with:
          team: teameresept

      - name: Run Trivy vulnerability scanner on docker image
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: ${{ steps.login.outputs.registry }}/${{ github.event.repository.name }}:${{ steps.get-versions.outputs.current-version }}
          format: "sarif"
          hide-progress: true
          output: "trivy-results.sarif"
          severity: 'MEDIUM,HIGH,CRITICAL'
          limit-severities-for-sarif: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v3.29.5
        with:
          sarif_file: "trivy-results.sarif"

      - name: Calculate execution time
        run: |
          END_TIME=$(date +%s)
          echo "exectime=$(( $END_TIME - ${starttime} ))" >> $GITHUB_ENV

      - name: Checkout badges
        uses: navikt/eresept-actions/badges-checkout@main

      - name: Scan date badge
        uses: navikt/eresept-actions/badges-create@main
        with:
          left: 'scanned'
          right: '${{ steps.get-versions.outputs.current-datetime }}'
          color: 'blue'
          filename: 'scan-date'
          logo: 'shield'

      - name: Commit badges
        uses: navikt/eresept-actions/badges-commit@main

      - name: Summary
        run: echo "### Trivy scanned latest in ${exectime} seconds" >> $GITHUB_STEP_SUMMARY

